.app-container {
  background-color: #161624;
  min-height: 100vh;
  background-size: cover;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.main-heading {
  font-family: 'roboto';
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.countries-container {
  background-color: #334155;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  width: 100%;
  min-height: 80vh;
  padding: 20px;
}

.countries-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f8fafc;
}

.name {
  font-family: 'roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.visit-button {
  background-color: #3b82f6;
  color: #f8fafc;
  font-size: 15px;
  padding: 10px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.visited-button {
  background-color: transparent;
  color: #f8fafc;
  font-size: 15px;
  padding: 10px;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

.image {
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.visited-countries-container {
  padding-left: 0px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.visited-list {
  list-style-type: none;
  background-color: #1f1f2f;
  width: 400px;
  margin-right: 75px;
  margin-bottom: 30px;
}

.visited-heading {
  font-family: 'roboto';
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.visited-paragraph {
  font-family: 'roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.remove-button {
  background-color: transparent;
  color: #f8fafc;
  font-size: 15px;
  padding: 10px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid #cbd5e1;
}

.visited-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: #1f1f2f;
  padding: 10px;
  margin-top: 0px;
}

.not-found-countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-paragraph {
  font-family: 'roboto';
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
}
